@media only screen and (max-width:1199px) {
    .ac_details_banner {
        width: 35%;
        left: -65px;
    }
    .choose_content_inner {
        display: block;
        text-align: center;
    }
    .choose_img {
        margin-right: 0px;
          }
}
@media only screen and (max-width:991px) {
    .h_banner{
        overflow: hidden;
    }    
.h_banner img {
    max-width: none;
    width: 115%;
}
.choose_inner {
    display: inline-block;
}
div#main_nav {
    position: static;
    top: 0;
    transform: inherit;
}
.trader_btn ul {
    display: inline-block;
}
  .trader_btn li {
        display: block !important;
        margin: 15px 0px;
    }
    .trader_btn ul {
        margin: 10px 0 0 0;
    }
        .m_choose_inner {
            display: inline-block;
            margin-top: 50px;
        }
        .choose_inner {
            text-align: center;
        }
        .trad_details {
            width: 50%;}
            .pay_system_oth {
                display: inline-block;
            text-align: center;}
                .pay_system_oth img{
                    width: 100%;
                }       
                .ac_details_inner a {
                                     padding: 15px 20px;
                                 } 
     .more_btn {
       margin-bottom: 25px;
     }
     footer {
        padding: 30px 0 0;
    }
}